{% extends "base.html" %}

{% block otherCSS %}
{% endblock %}

{% block title %}
Vision and Mission
{% endblock %}

{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs" style = "padding-top:50px;">
      <div class="container">

        <ol>
          <li><a href="{% url index %}">Home</a></li>
          <li>Vision and Mission</li>
        </ol>
        <h2>Vision and Mission</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content">
            <h3>Vision of The Ministry</h3>
            <p>
              The vision of City of David The Mount of Zion Ministry is to preach the Gospel of Jesus Christ all over the world, using the Holy Bible by teaching the word of God, Healing the sick with words of God and general humanitarian support. Always put into action Acts of Apostle 1:8 as part of the Great Commission of Jesus to the believers.

              “But ye shall receive power, after that the Holy Ghost is come upon you; and ye shall be witnesses unto me both in Jerusalem, and in all Judaea, and in Samaria, and unto the uttermost part of the earth.” (KJV) We are Jesus Christ’ Good News witnesses, fulfilling the Great Commission in our cities (Jerusalem), in our states and countries (Judea and Samaria), and anywhere else God sends us (to the ends of the earth). This vision enabled the empowerment of the Holy Spirit to lead us in the Lord’s directions through fellowship.
            </p>
            <hr>
            <h3>Mission of The Ministry</h3>
            <p>
              TThe mission of City of David The Mount of Zion Ministry is to guide the disciples of Jesus Christ according to the Book of Matthew 28:19–20. “Go ye therefore, and teach all nations, baptizing them in the name of the Father, and of the Son, and of the Holy Ghost: Teaching them to observe all things whatsoever I have commanded you: and, lo, I am with you always, even unto the end of the world.

              Amen.” (KJV) By teaching the undiluted Word of God, with the Holy Bible as our guide, our mission is to encourage people to acknowledge Jesus Christ as Our Lord and Savior, leave their burdens with the Lord, and to reconcile with God through Jesus Christ His Son. As they do so, their lives will never be the same. The purpose of City of David The Mount of Zion Ministry is to connect people all over the world to Our Maker, so that His dwellings may always Lead us and Guide us to the path He has called us to walk in this journey of life, and beyond. My prayer for you is that God uses our ministry to touch lives, spirits, and souls and help bring them to the feet of Jesus.
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->
  </main><!-- End #main -->
{% endblock %}

{% block otherJS %}
{% endblock %}